body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 330%;
    font-weight: 300;
    text-align: center;
}

#header {
    vertical-align:baseline;
}

#header * {
    display:inline-block;
}

#content {
}

#content * {
}

.twitter-link {
    color:#292f33;
}

.twitter-link:hover {
    color:#55acee;
}

.github-link {
    color:#333333;
}

.github-link:hover {
    color:#4078c0;
}

/*
green:  #6cc644
red:    #bd2c00
purple: #6e5494
*/
