body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 330%;
    font-weight: 300;
    text-align: center;
}

#header {
    vertical-align:baseline;
}

#header * {
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content {
    font-size: 50%;
}

#content * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.instagram-link {
    color:#333333;
}

.instagram-link:hover {
    color:#8a3ab9;
}

.linkedin-link {
    color:#333333;
}

.linkedin-link:hover {
    color:#0e76a8;
}

.twitter-link {
    color:#292f33;
}

.twitter-link:hover {
    color:#55acee;
}

.github-link {
    color:#333333;
}

.github-link:hover {
    color:#4078c0;
}

/*
green:  #6cc644
red:    #bd2c00
purple: #6e5494
*/
